/* Farben */

/*
:root {
--primary: #1d5e55;
--primary-darker: #0f4039;
--primary-superdark: #142f2b;
--primary-lighter: #047b65;
--primary-lighter-font: #3e9d8c;
--primary-highlight: #bad7d2;
--warning: #934f4f;
--highlight: #cedfee;
--grey: #efefef;
}
*/

