/logs
/cache
/vendor
/config/config.php
/app/templates/navigation
/public/storage
/public/audio
/public/generated
/public/uploads
/public/assets
.env
.env*
.gitignore
composer.lock
install.php
aibuddy.png
License
README.md
