/logs
/cache
/vendor
/app/config/config.php
/app/templates/navigation/main-nav.tpl
/app/templates/faq.tpl
/public/storage
/public/audio*
/public/generated
/public/uploads
/public/visionupload
/public/assets
/public/styles/css/custom.css
.env
.env*
composer.lock
aibuddy.png
License
README.md
